<template>
  <div class="continent" :class="{ active }">
    <img
      :src="continent.path"
      :alt="`${continent.name} icon`"
      class="continent__icon"
    />
    <div class="continent__label">{{ continent.name }}</div>
  </div>
</template>

<script setup lang="ts">
  interface Continent {
    path: string,
    name: string,
  }
  interface Props {
    continent?: Continent;
    active?: boolean;
  }

  withDefaults(defineProps<Props>(), {
    continent: () => ({
      name: "",
      path: "",
    }),
    active: false,
  });
</script>

<style lang="scss" scoped>
  .continent {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    min-width: 120px;
    margin-bottom: 3px;
    border-radius: 6px;
    user-select: none;

    &__icon {
      height: 30px;
    }
    &.active {
      background-color: rgb(232, 232, 232);
    }
    &:not(.active):hover {
      background-color: rgba(232, 232, 232, 0.44);
    }
  }
</style>
