<template>
  <div class="btn" :class="{ disabled, dark }" @click="$emit('click')">
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
  interface Props {
    disabled?: boolean;
    dark?: boolean;
  }

  withDefaults(defineProps<Props>(), {
    disabled: false,
    dark: false,
  });
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/main.scss";

  .btn {
    padding: 8px 15px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 5px 25px 5px rgba(134, 175, 255, 0.1);
    color: $primary;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.dark {
      background-color: $primary;
      color: white;
    }
  }
</style>
