<template>
  <PortHeader />
  <br />
  <PortsTable />
  <br />
  <PortsPaginate />
</template>

<script setup lang="ts">
  import { fetchPorts } from "@/store/port";
  import { onMounted } from "vue";
  import PortHeader from "@/ui/organisms/PortHeader.vue";
  import PortsTable from "@/ui/organisms/PortsTable.vue";
  import PortsPaginate from "@/ui/organisms/PortsPaginate.vue";

  onMounted(() => {
    fetchPorts();
  });
</script>
