<template>
  <div class="input-search-wrapper">
    <input
      v-model="search"
      type="text"
      class="input-search"
      placeholder="Search a port"
    />
    <img
      src="@/assets/icons/magnify.svg"
      alt="magnify icon"
      class="magnify-icon"
    />
  </div>
</template>

<script setup lang="ts">
  import { search } from "@/store/port";
</script>

<style lang="scss" scoped>
  .input-search-wrapper {
    position: relative;
    .input-search {
      width: 100%;
      padding: 15px 20px;
      border-radius: 15px;
      outline: none;
      border: none;
      background-color: #f4f4f4;
      padding-right: 45px;
      &::placeholder {
        color: rgb(157, 154, 154);
      }
    }
    .magnify-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }
</style>
