<template>
  <div class="select-continent" :class="{ active: isActive }">
    <div class="click-handler" @click="toggleStatus()">
      <div class="counter">+{{ selectedContinentsCount }}</div>
      <img src="@/assets/icons/world-icon.svg" alt="world icon" />
      <img
        src="@/assets/icons/chevron-down.svg"
        alt="chevron arrow icon"
        class="indicator-icon"
      />
    </div>
    <div class="continent-list">
      <ContinentItem
        v-for="continent of continents"
        :key="continent.id"
        :continent="continent"
        @click="pickContinent(continent.id)"
        :active="continentIsSelected(continent.id)"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { ref } from "vue";
  import {
    selectedContinentsCount,
    pickContinent,
    continentIsSelected,
    continents,
  } from "@/store/port";
  import ContinentItem from "@/ui/atoms/ContinentItem.vue";

  export default {
    components: { ContinentItem },
    setup() {
      const isActive = ref<boolean>(false);

      const toggleStatus = () => {
        isActive.value = !isActive.value;
      };

      return {
        isActive,
        toggleStatus,
        continents,
        selectedContinentsCount,
        pickContinent,
        continentIsSelected,
      };
    },
  };
</script>

<style lang="scss" scoped>
  .select-continent {
    width: 90px;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    .click-handler {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
    .counter {
      font-size: 14px;
      line-height: 14px;
    }
    .indicator-icon{
      transition: transform .3s ease-in-out;
    }
    .continent-list {
      position: absolute;
      top: 0%;
      right: 0;
      background-color: #fff;
      box-shadow: 0px 5px 25px 5px rgba(127, 158, 220, 0.15);
      padding: 5px 5px;
      border-radius: 8px;
      transition: top .3s ease-in-out, opacity .3s ease-in-out;
      z-index: -1;
      opacity: 0;

    }
    &.active {
      .indicator-icon {
        transform: rotate(180deg);
      }
      .continent-list {
        top: 100%;
        z-index: 10;
        opacity: 1;
      }
    }
  }
</style>
