<template>
  <div class="layout">
    <div class="sidebar">
      <img alt="Cargofive logo" src="./assets/logo-light.svg" class="logo" />
    </div>
    <div class="body">
      <Ports />
    </div>
  </div>
</template>

<script setup lang="ts">
  import Ports from "@/ui/pages/Ports.vue";
</script>

<style lang="scss">
  @import "@/assets/scss/main.scss";
  #app {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  // Scrollbar config
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar {
    background: #f5f5f5;
    width: 6px;
    height: 6px;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 6px;
  }

  // Selection config
  ::selection {
    background: #81818198;
    color: white;
  }

  .layout {
    display: grid;
    grid-template-columns: 87px 1fr;
    min-height: 100vh;
    .sidebar {
      background-color: $primary;
      padding: 20px;
      .logo{
        max-height: 100%;
        max-width: 100%;
      }
    }
    .body {
      padding: 40px;
      background-color: #f5f6fa;
    }
    @media (max-width: 820px) {
      grid-template-columns: 1fr;
      grid-template-rows: 52px 1fr;
      .sidebar {
        padding: 5px 20px;
      }
      .body {
        padding: 10px 15px;
      }
    }
  }
</style>
