<template>
  <div class="ports-paginate">
    <div class="past-actions">
      <CustomButton
        dark
        :disabled="!links.first"
        @click="getPorts(links.first)"
      >
        <span class="icon">&#171;</span>
        <span class="span text">First</span>
      </CustomButton>
      <CustomButton :disabled="!links.prev" @click="getPorts(links.prev)">
        <span class="icon">&#8249;</span>
        <span class="text">Prev</span>
      </CustomButton>
    </div>
    <div class="page-information">
      {{ pagination.from }} to {{ pagination.to }} of {{ pagination.total }}
    </div>
    <div class="future-actions">
      <CustomButton :disabled="!links.next" @click="getPorts(links.next)">
        <span class="text">Next</span>
        <span class="icon">&#8250;</span>
      </CustomButton>
      <CustomButton dark :disabled="!links.last" @click="getPorts(links.last)">
        <span class="text">Last</span>
        <span class="icon">&#187;</span>
      </CustomButton>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { pagination, links, getPorts } from "@/store/port";
  import CustomButton from "@/ui/atoms/CustomButton.vue";
</script>

<style lang="scss" scoped>
  .ports-paginate {
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 100px 170px 1fr 170px 100px;
    align-items: center;
    gap: 10px;
    .icon {
      font-size: 1.2rem;
    }
    .past-actions {
      grid-column: 2/3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .icon {
        margin-right: 5px;
      }
    }
    .future-actions {
      grid-column: 4/5;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .icon {
        margin-left: 5px;
      }
    }
    .page-information {
      grid-column: 3/4;
      text-align: center;
      font-size: 14px;
      line-height: 14px;
      opacity: 0.8;
    }
    @media only screen and (max-width: 910px) {
      grid-template-columns: 170px 1fr 170px;
      .past-actions {
        grid-column: 1/2;
      }
      .page-information {
        grid-column: 2/3;
      }
      .future-actions {
        grid-column: 3/4;
      }
    }
    @media only screen and (max-width: 522px) {
      grid-template-columns: 100px 1fr 100px;
      .icon {
        margin: 0 !important;
      }
      .text {
        display: none;
      }
      .page-information{
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
</style>
