<template>
  <div class="port-table" :class="{ loading: isLoading }">
    <table>
      <tbody>
        <tr class="port-table__header">
          <td>Id</td>
          <td>Name</td>
          <td>Country</td>
          <td>Continent</td>
          <td>Coordinates</td>
        </tr>

        <tr v-for="port in ports" :key="port.id" class="port-table__row">
          <td>{{ port.id }}</td>
          <td>{{ port.name }}</td>
          <td>{{ port.country }}</td>
          <td>{{ port.continentFullNane }}</td>
          <td>{{ port.coordinates }}</td>
        </tr>
        <tr v-if="!ports.length">
          <td colspan="5" class="empty-table">No elements to show</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
  import { portsFilterByContinent, isLoading } from "@/store/port";

  export default {
    setup() {
      return { ports: portsFilterByContinent, isLoading };
    },
  };
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/main.scss";

  .port-table {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 25px 5px rgba(134, 175, 255, 0.1);
    overflow: hidden;
    position: relative;
    max-width: calc(100vw - 20px);
    &.loading::after {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 100%;
      height: 2px;
      animation: loading 1.5s ease-in-out infinite alternate;
      background: linear-gradient(
        90deg,
        rgba(196, 196, 196, 0) 20%,
        $primary 50%,
        rgba(196, 196, 196, 0) 80%
      );
    }

    table {
      display: block;
      width: 100%;
      border-collapse: collapse;
      overflow: scroll;
      height: calc(100vh - 289px);
      min-height: 400px;
      @media (max-width: 932px){
        height: calc(100vh - 340px);
      }
      @media (max-width: 820px) {
        height: calc(100vh - 331px);
      }

      tbody {
        display: table;
        width: 100%;
        position: relative;
        .empty-table {
          text-align: center;
          padding: 20px;
        }
      }
    }

    &__header {
      position: sticky;
      top: 0;
      background-color: #fff;

      td {
        padding: 20px 5px;
        text-align: center;
        font-weight: bold;
        &:nth-child(1) {
          min-width: 80px;
        }
        &:nth-child(2) {
          text-align: left;
        }
        &:nth-child(3) &:nth-child(4) &:nth-child(5) {
          min-width: 200px;
        }
      }
    }
    &__row {
      td {
        text-align: center;
        padding: 8px 5px;
        &:nth-child(2) {
          text-align: left;
        }
      }
    }
    table tr:nth-child(even) {
      td:not(.empty-table) {
        background-color: rgb(242, 242, 242);
      }
    }
  }
  @keyframes loading {
    0% {
      left: -50%;
    }
    100% {
      left: 50%;
    }
  }
</style>
