<template>
  <div class="port-header">
    <div class="title">
      <img src="@/assets/icons/list-icon.svg" alt="list icon" class="list-icon" />
      <h3 class="text">List of ports</h3>
    </div>
    <InputSearch class="input-search" />
    <SelectContinent class="select-continent" />
  </div>
</template>

<script setup lang="ts">
  import InputSearch from "@/ui/molecules/InputSearch.vue";
  import SelectContinent from "@/ui/molecules/SelectContinent.vue";
</script>

<style lang="scss" scoped>
  .port-header {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 40px;
    display: grid;
    gap: 10px;
    grid-template-columns: 160px 1fr 400px 1fr 90px;
    align-items: center;
    box-shadow: 0px 5px 25px 5px rgba(134, 175, 255, 0.1);
    .input-search {
      grid-column: 3/4;
    }
    .select-continent {
      grid-column: 5/6;
    }
    .title {
      display: flex;
      gap: 15px;
      align-items: center;
      @media (max-width: 353px){
        .list-icon{
          height: 1rem;
        }
        .text{
          font-size: 1rem;
          line-height: 1rem;
          margin-top: 3px;
        }
      }
    }
    @media (max-width: 932px){
      grid-template-columns: 1fr 90px;
      .title{
        grid-column: 1/2;
      }
      .select-continent{
        grid-column: 2/3;
      }
      .input-search{
        grid-row: 2/3;
        grid-column: 1/3;
      }
    }
  }
</style>
